@media (min-width: 1400px) {
    .container {
        max-width: 1641px;
    }
}

@media (max-width: 1400px) {
    /* .know-sec h2 {
        font-size: 55px;
    } */

    .know-left-sticky {
    padding-top: 130px;
    }

    .watch-text h2 {
        font-size: 50px
    }

    .testi-sec {
    padding: 10% 0 3%
    }

    .testi-sec h2 {
        font-size: 55px
    }

    .testi-sec .center-img {
        width: 31%;
    }

    .testi-sec .side {
        gap: 4rem;
    }

    .testi-sec .side.side-2 {
        padding-top: 0;
        padding-left: 96px;
    }

    .form-sec h2 {
        font-size: 55px;
    }

    .form-sec img {
        margin: 0;
    }

    .form-sec .img-col {
        display: flex;
        align-items: center;
    }


    .product-sec .pro-card .details h5 {
        font-size: 20px;
    }

    .product-sec h2 {
        font-size: 45px;
    }
}